<!DOCTYPE html>
<html lang="en">
<head>
    <title>LandingPage</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="plus, html5, css3, template, ecommerce, e-commerce, bootstrap, responsive, creative" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/custom.css" />
</head>
<body>
    <header>
        <div class="topBar">
            <div class="container-fluid topRibbon">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-3 pull-left">
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-9 pull-right login-details">
                        <ul class="topBarNav">
                           
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end container -->
        </div>
        <!-- topBar -->
    </header>
    <section>
        <div class="body-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 left-panel">
                        <div>
                            <h4><b>Cloud Automation?</b></h4>
                            <p class="ppc-content">Multi-cloud hybrid Infrastructure which supports secure hosting of Enterprise Applications. Hosting will be on public cloud platform such as AWS and Microsoft Azure and Google Cloud.</p>
                        </div>
                       
                        <div id="aws" onclick="activeFunction(this.id)" class="leftdiv mt25">
                            <div class="title-head">
                                <a class="icon-container" href="#">
                                    <!-- <img class="amz-img" src="images/Amazon cloud.svg" alt="Amazon Cloud"/> -->
                                    <object data="images/Amazon cloud.svg" type="image/svg+xml"></object>
                                </a>
                                <a class="sub-title" href="#"><b>Amazon web services cloud</b></a>
                            </div>
                            <p>
                                Amazon AWS is a cloud computing service created by Amazon for building, testing, deploying, and managing applications and services through a global network of Amazon-managed data centers.<br /> More details on AWS, refer link -
                                <a href="https://aws.amazon.com/what-is-aws/" class="refer-link">https://aws.amazon.com/what-is-aws/</a>
                            </p>
                        </div>
                     
                    <!-- end col -->
                    <div class="center">
                        <form action="" method="POST">
                            <div class="login-details" align="center">
                                <label>Email : </label>
                                <input type="text" name="username" class="form-control" value={{request.form.username}}>
                            </div><br>
                            <div class="login-details" align="center">
                                <label>Password : </label>
                                <input type="password" name="password" class="form-control" value={{request.form.password}}>
                            </div><br>
                            <div class="center">
                            <p>
                                <button type="submit" class="btn btn-primary" align="left">Submit</button><br><br>
                            </p>
                            </div>
                            </form>
                        </div>
                 </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container-fluid -->
        </div>
        <!-- end body-wrapper -->
    </section>


</body>
</html>