<h1>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  
      <style >
      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
      }

      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
      }

      tr:nth-child(even) {
          background-color: #dddddd;
      }
  </style>
   
        <table>
      <tr>
       <th>
           <a href="/{{username}}/aws/ec2"><center>Ec2 Instances</center></a>
       
       </th><br><br>
      <th>
         <a href="/{{username}}/aws/cloud-watch"><center>CloudWatch Metrics</center></a>
          
       </th><br><br>
      <th><a href="/{{username}}/aws/ec2/create"><center>Create Instance</center></a></th><br><br>
      <th><a href="/{{username}}/aws/ec2/terminate"><center>Terminate Instance</center></a></th><br><br />
          <tr>
              </table>
 
</h1>

