<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="app.py" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="Python FCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\swapnil.buchke\AppData\Local\Programs\Python\Python37-32\python.exe|C:\Users\swapnil.buchke\AppData\Local\Programs\Python\Python37-32\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
    <system.web>
        <identity impersonate="true" />
    </system.web>
</configuration>
