<h1>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <h2 align="center">
      <a href="/{{username}}/aws/ec2"><center>Ec2 Instances</center></a><br><br>
      <a href="/{{username}}/aws/cloud-watch"><center>CloudWatch Metrics</center></a><br><br>
      <a href="/{{username}}/aws/ec2/create"><center>Create Instance</center></a><br><br>
      <a href="/{{username}}/aws/ec2/terminate"><center>Terminate Instance</center></a><br><br />
  </h2>
</h1>

