<!DOCTYPE html>

<html lang="en" xmlns="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<head>
    <head>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <h3>{{ message }}</h3>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style>

            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    </head>
    <meta charset="utf-8" />
    <title>List of EC2 instances</title>
</head>
<body name >
    <form action="http://localhost:5000/" method="post">
        <table>
            <tr>
                <th>InstanceId</th>
                <th>Instance Type</th>
                <th>Availability Zone</th>
                <th>State</th>
                <th>IPv4 Private Address</th>
                <th>Start Instance</th>
                <th>Stop Instance</th>
            </tr>
            <!--<tr>
                <td></td>
                <td></td>
                <td><input type="submit" value="Start i-01840199f504be37a " name="Start" /></td>
                <td><input type="submit" value="Stop i-01840199f504be37a" name="Stop" /></td>
            </tr>-->

                {% for i in all_instances %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.instance_type}}</td>
                <td>{{i.placement.AvailabilityZone}}</td>
                <td>{{i.state.Name}}</td>
                <td>{{i.private_ip_address}}</td>
                <td><input type="submit" value="Start {{i.id}}" name="Start" /></td>
                <td><input type="submit" value="Stop {{i.id}}" name="Stop" /></td>
            </tr>
                <br />
                {% endfor %}
            </table>    
    </form>
</body>

</html>
